@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: wheat;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track:hover {
  background: #555;
}
